nav.navbar.navbar-default.navbar-static-bottom.footer
  .container.clearfix
    .centerNav
      div
        img(src="images/BSC-white-small.png" style="max-height: 4.8em")
      div
        img(src="images/generalitat-red-white.png" style="max-height: 5em")
