<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/TeMU-BSC/catalan-language-understanding-benchmark" data-icon="octicon-star" data-size="large" aria-label="Star TeMU-BSC/catalan-language-understanding-benchmark on GitHub">Star</a>
