extends layout

block title
  title Datasets - The Spanish Evaluation Benchmark

block description
  meta(name='description', content='The Spaish Evaluation Benchmark (EvalES) is a new reading comprehension dataset, consisting of questions posed by crowdworkers on a set of Wikipedia articles, where the answer to every question is a segment of text, or span, from the corresponding reading passage. With 100,000+ question-answer pairs on 500+ articles, SQuAD is significantly larger than previous reading comprehension datasets.')

block extralinks
  link(rel='stylesheet', href='./stylesheets/index.css')

block extrascripts

mixin fill_text(texts)
    each text, title in texts
        p
          b #{title}
        | #{text}

block content
  .cover#contentCover
    .container
      .row
        .col-md-15
          .infoCard
            .infoBody
              .infoHeadline
              h2 Datasets
              +fill_text(test1)
