extends layout

block title
	title CLUB

block description
	meta(name='description', content='The Catalan Language Understanding Benchmark (CLUB) consists of 6 tasks: Named Entity Recognition (NER), Part-of-Speech Tagging (POS), Semantic Textual Similarity (STS), Text Classification (TC), Textual Entailment (TE), and Question Answering (QA).')

block extralinks
	link(rel='stylesheet', href='./stylesheets/index.css')
	link(rel="stylesheet", href="https://unpkg.com/tabulator-tables@5.4.0/dist/css/tabulator_simple.min.css")
	script(src="https://unpkg.com/tabulator-tables@5.4.0/dist/js/tabulator.min.js")
	script(async defer src="https://buttons.github.io/buttons.js")
	script(src="./javascripts/mi_script.js")


block content
	.cover#contentCover
	.container
		.row
		.col-md-15
			.infoCard
				.infoBody
					.infoHeadline
					h2 Leaderboard
					p.spaced CLUB tests the ability of a system in the Catalan language. Below are the results of the different models.
					div#leaderboard
						table#example-table
							thead
								tr
									th(width='200') Name
									th Age
									th Gender
									th Height
									th Favourite Color
									th Date of Birth
							tbody
								tr
									td Billy Bob
									td 12
									td male
									td 1
									td red
									td
								tr
									td Mary May
									td 1
									td female
									td 2
									td blue
									td 14/05/1982

					p#sendResults
					a(href="./submit.html") SEND YOUR RESULTS
		.col-md-15
			.infoCard
				.infoBody
					.infoHeadline
					h2 What is CLUB?
					p The CLUB benchmark consists of 6 tasks: Semantic Textual Similarity (STS), Part-of-Speech Tagging (POS), Question Answering (QA), Textual Entailment (TE), Text Classification (TC), and Named Entity Recognition (NER).
					h2 Have Questions?
					p 
					| Ask us questions at	
					a(href="mailto:aina@bsc.es") aina@bsc.es
					| .
				.infoSubheadline
					include includes/tweet
					include includes/github
