extends layout

block title
  title The Spanish Evaluation Benchmark

block description
  meta(name='description', content='The Spaish Evaluation Benchmark (EvalES) is a new reading comprehension dataset, consisting of questions posed by crowdworkers on a set of Wikipedia articles, where the answer to every question is a segment of text, or span, from the corresponding reading passage. With 100,000+ question-answer pairs on 500+ articles, SQuAD is significantly larger than previous reading comprehension datasets.')

block extralinks
  link(rel='stylesheet', href='./stylesheets/index.css')
  script(async defer src="https://buttons.github.io/buttons.js")
  script(src="./javascripts/mi_script.js")


block content
  .cover#contentCover
    .container
      .row
        .col-md-15
          .infoCard
            .infoBody
              .infoHeadline
                h2 Leaderboard
              p.spaced SQuAD2.0 tests the ability of a system to not only answer reading comprehension questions, but also abstain when presented with a question that cannot be answered based on the provided paragraph.
              div#leaderboard
        .col-md-15
          .infoCard
            .infoBody
              .infoHeadline
                h2 What is EvalES?
              p 
                span
                  | Eval
                  b ES 
                | is a reading comprehension dataset, consisting of questions posed by crowdworkers on a set of Wikipedia articles, where the answer to every question is a segment of text, or 
                i span
                | , from the corresponding reading passage, or the question might be unanswerable.
              hr
              p
                | Eval
                b  ES 
                |  combines the 100,000 questions in SQuAD1.1 with over 50,000 unanswerable questions written adversarially by crowdworkers to look similar to answerable ones. To do well on SQuAD2.0, systems must not only answer questions when possible, but also determine when no answer is supported by the paragraph and abstain from answering.
              a.btn.actionBtn(href="/explore/v2.0/dev/") Explore SQuAD2.0 and model predictions
              a.btn.actionBtn(href="http://arxiv.org/abs/1806.03822") SQuAD2.0 paper (Rajpurkar & Jia et al. '18)
              h2 Have Questions?
              p 
                | Ask us questions at    
                a(href="mailto:plantl-gob-es@bsc.es") plantl-gob-es@bsc.es
                | .
            .infoSubheadline
              include includes/tweet
              include includes/github
