extends layout

block title
  title The Spanish Evaluation Benchmark

block description
  meta(name='description', content='Submitting-related information')

block extralinks
  link(rel='stylesheet', href='./stylesheets/index.css')
  // link(rel='stylesheet', href='./stylesheets/input.css')

block content
  .cover#contentCover
    .container
      .row
        .infoCard
         .infoBody
            h1 Instructions for submitting
            p To submit data fill the next form:
            br
            form
                div.form-group
                    label(for='mail') Mail:
                    input.form-control(type='email' id='mail' name='mail' placeholder='example@example.com' required)
                div.form-group
                    label Model name:
                    input.form-control(type='text' name='model_name' placeholder='Model Name' required)
                div.form-group
                    label Research Group:
                    input.form-control(type='text' name='research_group' placeholder='e.g: BSC' required)
                div.form-group
                    label Paper Link
                    input.form-control(type='url' name='paper_link' placeholder='Where is the paper (if any)')
                div.form-group
                    label Upload Test 1
                    input(type='file' name='test1')
                div.form-group
                    label Upload Test 2
                    input(type='file' name='test2')
                div.form-group
                    label Upload Test 3
                    input(type='file' name='test3')
                div.form-group
                    label Upload Test 4
                    input(type='file' name='test4')
                hr
                input.submitButton(type='submit' value='Submit')


