extends layout

block title
  title The Spanish Evaluation Benchmark

block description
  meta(name='description', content='Submitting-related information')

block extralinks
  link(rel='stylesheet', href='./stylesheets/index.css')

block content
  .cover#contentCover
    .container
      .row
        .infoCard
         .infoBody
            h1 Instructions for submitting
            p These are the instructions for
                b submitting data
            |.

