extends layout

block title
  title The Spanish Evaluation Benchmark

block description
  meta(name='description', content='Submitting-related information')

block extralinks
  link(rel='stylesheet', href='./stylesheets/index.css')

block content
  .cover#contentCover
    .container
      .row
        .infoCard
         .infoBody
            h1 Instructions for submitting
            p
            | To submit data fill the next form:
            form(method='POST')
                label Mail:
                br
                input(type='email' name='mail' placeholder='example@example.com' required)
                br
                label Model name:
                br
                input(type='text' name='model_name' placeholder='Model Name' required)
                br
                label Research Group:
                br
                input(type='text' name='research_group' placeholder='e.g: BSC' required)
                br
                label Paper Link
                br
                input(type='url' name='paper_link' placeholder='Where is the paper (if any)')
                br
                label Test 1
                input(type='file' name='test1')
                br
                label Test 2
                input(type='file' name='test1')
                br
                label Test 3
                input(type='file' name='test1')
                br
                label Test 4
                input(type='file' name='test1')
                hr
                input(type='submit' value='Submit')


