extends layout

block title
	title Submit - CLUB

block description
	meta(name='description', content='Submitting-related information')

block extralinks
	link(rel='stylesheet', href='https://unpkg.com/filepond/dist/filepond.css')
	link(rel='stylesheet', href='./stylesheets/index.css')

block extrascripts
	include submit_scripts.html

block content
	.cover#contentCover
		.container
			.row
				.infoCard
					.infoBody
						h1 Instructions for submitting
						p To submit data fill the next form:
						br
						form#evaluation_form
							div.form-group#emailDiv
								label.control-label(for='email') Mail (will not be displayed):
								input.form-control(type='email' id='email' name='email' placeholder='example@example.com' required)
							div.form-group#modelNameDiv
								label.control-label(for='modelName') Model name:
								input.form-control(type='text' id='modelName' name='modelName' placeholder='Model Name' required)
							div.form-group#researchGroupDiv
								label.control-label(for='researchGroup') Research Group / Submitted by:
								input.form-control(type='text' id='researchGroup' name='researchGroup' placeholder='e.g: BSC' required)
							div.form-group#paperLinkDiv
								label.control-label(for='url') URL (Optional):
								input.form-control(type='url' id='url' name='url' placeholder='URL of the paper or model (if any)')
							hr
							div#sampleFiles
								p
									a(href='./sample_files.zip')
										| Download sample submission files
							div.form-group#pondDiv
								label(for=pond) Prediction files:
								p See the sample files for a hint on naming them.
								p Make sure that each prediction file is named according to the following:
								ul
									li NER: ancora-ca-ner_predictions.txt
									li POS: pos_predictions.txt
									li STS-ca: sts-ca_predictions.txt
									li TeCla: tecla_predictions.txt
									li TE-Ca: teca_predictions.txt
									li CatalanQa: catalanqa_predictions.json
									li XQuAD-ca: xquad-ca_predictions.txt
								br
								input#pond(type=file name=pond)
							hr
							div.checkbox#privacyPolicy
								label
									input(type='checkbox' name='dataPol' id='dataPol')
									| I accept the 
									a(href="https://www.bsc.es/legal-notice" target="_blank") data policy*
							div#submitResults
								button.submitButton#submit_button(type='button') Submit
							div.has-error.help-block
