.submitButton {
  width: 20%;
  background-color: #ffce2d;
  color: #000;
  text-align: center;
  border: 2px solid #ffce2d;
  padding: 15px;
  border-radius: 30px;
  transition: all 0.5s;
  min-width: 75px;
}
.submitButton:hover {
  background-color: #e40520;
  border-color: #e40520;
  color: #fff;
}
@media (max-width: 734px) {
  .submitButton {
    width: 100%;
  }
}
#submitResults {
  text-align: right;
}
#sampleFiles {
  padding-bottom: 2%;
}
.datasetHolder {
  margin: 20px 0;
  white-space: pre-wrap;
}
.datasetHolder h3 {
  font-size: 1.3em;
  font-weight: 600;
}
p.spaced {
  padding-bottom: 20px;
}
#sendResults {
  color: #ffce2d;
  text-align: right;
}
#leaderboard {
  overflow: auto;
}
